.traking-app{
    width: 100%;
    margin: 30px 0;
}

.traking-app .hide{
    display: none;
}

.traking-app .loading{
    text-align: center;
    margin-top: 50px;
}

.traking-app .traking-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 980px){
    .traking-app .traking-form{
        width: 100%;
    }
}

.traking-app h2{
    text-align: center;
    margin-bottom: 15px;
}

.traking-app .traking-form .error-msg{
    color: #ed1f23;
}

.traking-app .traking-form button{
    width: 50%;
    margin: 15px auto;
}

.traking-app .traking-codes-list{
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 980px){
    .traking-app .traking-codes-list{
        width: 100%;
    }
}

.traking-app .traking-codes-list .accordion-container{
    margin-bottom: 15px;
}

@media screen and (max-width: 998px){
    .traking-app .traking-codes-list .accordion-container .ac-header .ac-trigger{
        width: 100%;
    }
}

.traking-app .traking-codes-list .tip{
    padding-top: 0;
    color: cornflowerblue;
}

.traking-app .traking-codes-list .tip:nth-of-type(1){
    margin-top: 15px;
}

.traking-app .traking-codes-list span{
    display: block;
    text-align: center;
    line-height: 1.5rem;
}

.traking-app .traking-codes-list .traking-code{
    display: flex;
    color: #707070;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
}

.traking-app .traking-codes-list .traking-code:nth-of-type(even){
    background-color: #efefef;
}

.traking-app .traking-codes-list .traking-code:nth-of-type(odd){
    background-color: #e0e0e0;
}

.traking-app .traking-codes-list .traking-code .actions-btn{
    display: flex;
}

.traking-app .traking-codes-list .traking-code .review-btn{
    display: flex;
    align-items: center;
}

.traking-app .traking-codes-list .traking-code button,
.traking-app .traking-codes-list .traking-code .review-btn{
    margin: 0;
    margin-right: 5px;
    padding: 5px 10px;
    text-align: center;
    width: fit-content;
}

.traking-app .traking-codes-list button.back-btn{
    width: 30%;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    padding: 5px 10px;
}

@media screen and (max-width: 980px){
    .traking-app .traking-codes-list button{
        width: 50%;
    }
}